@using Microsoft.AspNetCore.Components

@page "/home"
@layout MainLayout
@inject NavigationManager NavigationManager
@inject PortfolioService PortfolioService

<!-- Page Title -->
<PageTitle>Home</PageTitle>

<!-- HERO -->
<section class="hero">

    <img src="images/hero.png" class="hero-image" />

    <div class="hero-overlay">
        <h1>Michael Hense</h1>
        <p>3D Artist</p>
    </div>

</section>


<!-- GRID -->
<main class="container">
    <div class="grid">

        @foreach (PortfolioPiece highlight in PortfolioService.GetHighlightPieces())
        {
            <PortfolioCard ImageUrl=@highlight.Images[0]
                           Title=@highlight.Title
                           Subtitle=@highlight.Category
                           OnClick="@(() => OpenPiece(highlight))" />
        }

    </div>

</main>

@code {

    void OpenPiece(PortfolioPiece piece)
    {
        NavigationManager.NavigateTo($"/portfolio/{piece.ID}");
    }

}