<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(PortfolioLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(PortfolioLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>