@inherits LayoutComponentBase

<div class="page-wrapper">
    <div class="navbar">
        <div class="logo">Michael Hense</div>

        <nav>
            <NavLink href="/">Home</NavLink>
            <NavLink href="/Work">Models</NavLink>
            <NavLink href="/contact">Contact</NavLink>
            <NavLink href="/about">About</NavLink>
        </nav>
    </div>

    <div class="main-content">
        @Body
    </div>

    <footer>
        <div class="footer-content">
            <div>
                © @DateTime.Now.Year Michael Hense
            </div>

            <div class="footer-links">
                <a href="https://www.artstation.com/michaelhense">ArtStation</a>
                <a href="https://sketchfab.com/Ryzekiel">Sketchfab</a>
                <a href="https://www.linkedin.com/in/michael-hense/">LinkedIn</a>
            </div>
        </div>
    </footer>
</div>