@inject NavigationManager Navigation

<div class="notfound-container">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>The page you're looking for doesn’t exist or has been moved.</p>

    <button class="notfound-button" @onclick="GoHome">
        Return Home
    </button>
</div>

@code {
    void GoHome()
    {
        Navigation.NavigateTo("/home");
    }
}